.supportimage { 
  margin: 20px auto;
  width: 100%;    
  max-width: 600px;    
  height: 150px;       
  display: flex;
  justify-content: center;
}

.supportimage img {
  width: 100%;         
  height: 150px;      
  border-radius: 15px; 
  object-fit: cover;   
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo img {
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: center;
  background: white;
}

.navbar a {
  padding: 12px 20px;
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  background: #ddd;
}

.navbar a.active {
  background: #d8cdea;
}
.residents-container {
  display: flex;
  padding: 30px;
  gap: 30px;
}

.side-nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-nav button {
  padding: 12px;
  border: none;
  background: #5b3a82;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.side-nav button.active {
  background: #8e6bbf;
}

.content-area {
  flex: 1;
  background: #4b2e6f;
  color: white;
  padding: 25px;
  border-radius: 15px;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}


.info-card {
  background: #6d4aa3;
  padding: 20px;
  border-radius: 10px;
  margin-top: 15px;
  display: flex; 
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.info-card div {
  flex: 1; 
}

.info-card img {
  width: 150px; 
  height: auto;
  border: 2px solid #ffffff;
  flex-shrink: 0; 
}


.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 400px;      
  object-fit: cover;  
  display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

.prev { left: 0; border-radius: 0 5px 5px 0; }
.next { right: 0; border-radius: 5px 0 0 5px; }

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
}

