.supportimage { 
  margin: 20px auto;
  width: 100%;    
  max-width: 600px;    
  height: 150px;       
  display: flex;
  justify-content: center;
}

.supportimage img {
  width: 100%;         
  height: 150px;      
  border-radius: 15px; 
  object-fit: cover;   
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo img {
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: center;
  background: white;
}

.navbar a {
  padding: 12px 20px;
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  background: #ddd;
}

.navbar a.active {
  background: #d8cdea;
}


/* Page Title */
.page-title {
  text-align: center;
  background: #4b2e6f;
  color: white;
  padding: 30px;
}

/* Filters */
.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.h3 {
    font-family: Copperplate, fantasy;
}
.filter-btn {
  padding: 10px 15px;
  border: none;
  background: #ffd700;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-family: Garmond, serif;

}

.filter-btn.active {
  background: #8e6bbf;
}

/* Cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 40px;
}

.resource-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.resource-card h3 {
  margin-top: 0;
}

.resource-card span {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #4b2e6f;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}
